<div class="footer dark wf-section">
  <div class="container footer-container">
    <div class="div-block-2">
      <img
        src="https://uploads-ssl.webflow.com/60fa0394d698b446ebd88090/60fa1c83763194c5a73da99c_icon256.png"
        loading="lazy"
        width="60"
        alt=""
      />
    </div>
    <div class="div-block">
      <a href="/" aria-current="page" class="link-2 w--current">Home</a
      ><a
        href="https://learnpack.gitbook.io/docs/"
        target="_blank"
        class="link-3"
        >Documentation</a
      ><a href="/about" class="link-4">About Us</a>
    </div>
  </div>
</div>
