<div data-collapse="medium" data-animation="default" data-duration="400"
  data-w-id="bb4e7449-174a-02e7-464b-e0629f8bea8f" data-easing="ease" data-easing2="ease" role="banner"
  class="navigation light w-nav" >
  <div class="navbar-container">
    <a style="width: 186px" href="/" aria-current="page" class="link-block-2 w-inline-block w--current">
      <img
        src="/assets/images/learnpack-side-small.png"
        loading="lazy" width="184" alt="" 
      />
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="https://learnpack.gitbook.io/docs/" target="_blank" class="link-5">Documentation</a>
      <div class="buttons-container"></div>
      <a href="/about" class="link-5">About Us<br /></a>
    </nav>
    <div class="menu-button w-nav-button" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0"
      aria-haspopup="menu" aria-expanded="false">
      <div class="burger-icon">
        <div class="top-burger-line"></div>
        <div class="middle-burger-line"></div>
        <div class="bottom-burger-line"></div>
      </div>
    </div>
  </div>
 

  </nav>
</div>
