---
layout: "wrapper"
---

<div class="section hero wf-section">
  <div class="container" style="margin-top: 6%">
    <div class="two-col-grid max-width">
      <div
        class="small-container hero"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <h1
          data-w-id="3e9108d0-29d9-1fe3-f013-f48a3b2f5c12"
          style="
            opacity: 1;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
          "
          class="h1"
        >
          Interactive Coding Tutorial Builder<br />
        </h1>
        <p class="subtitle">
          Seamlessly build or take interactive &amp; auto-graded tutorials.
        </p>
        <a
          data-w-id="3e9108d0-29d9-1fe3-f013-f48a3b2f5c17"
          style="
            opacity: 1;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
          "
          href="https://learnpack.gitbook.io/docs/"
          target="_blank"
          class="icon-button w-inline-block"
          ><div class="text-block-2">Start Creating</div></a
        >
      </div>
      <div
        id="w-node-_252151bd-c720-0606-dc28-c35ef3746fa2-a6d880dd"
        class="small-container"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div id="react-target" class="div-block-3">
          <div style="max-height: 300px; min-height: 300px; min-width: 100%">
            <div class="react-terminal-wrapper">
              <div class="react-terminal">
                <span class="react-terminal-line react-terminal-input"
                  >npm install @learnpack/learnpack -g</span
                ><span class="react-terminal-line react-terminal-input"
                  >learnpack start</span
                ><span class="react-terminal-line react-terminal-info"
                  >ⓘ Building the exercise index...</span
                ><span class="react-terminal-line react-terminal-success"
                  >✓ Exercises are running! 😃</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container what-is-learnpack">
    <div class="div-block-4">
      <div
        class="title-container"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <h2 class="h2">What is LearnPack?</h2>
      </div>
      <p class="paragraph-21">
        LearnPack is a tool that allows content creators to quickly build
        interactive and auto-graded tutorials and learning materials for
        technical skills.<br />‍<br />LearnPack scans your current folder
        looking for markdown files that will become tutorial instructions and
        unit-test files that will grade the student.
      </p>
    </div>
  </div>
</div>
<div class="section wf-section">
  <div class="container">
    <div
      class="title-container"
      style="
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      "
    >
      <h2 class="h2">Why use LearnPack?</h2>
    </div>
    <div class="main-grid">
      <div
        id="w-node-_5567c65f-1c51-22f5-9955-fe40b832490c-a6d880dd"
        class="feature-icon-left"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div class="feature-icon">
          <i class="fa-solid fa-computer"></i>
        </div>
        <div class="feature-info">
          <h3 class="h3 not-margin">On any computer</h3>
          <p class="paragraph-22">
            Use localhost resources to carry out tutorials about almost any
            technology that runs on your user's computer.
          </p>
        </div>
      </div>
      <div
        id="w-node-_5567c65f-1c51-22f5-9955-fe40b8324916-a6d880dd"
        class="feature-icon-left"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div class="feature-icon">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <div class="feature-info">
          <h3 class="h3 not-margin">No configuration</h3>
          <p class="paragraph-22">
            Create tutorials without any configuration. ¡We give you the tools,
            you add the knowledge!
          </p>
        </div>
      </div>
      <div
        id="w-node-_5567c65f-1c51-22f5-9955-fe40b8324920-a6d880dd"
        class="feature-icon-left"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div class="feature-icon">
          <i class="fa-solid fa-laptop-code"></i>
        </div>
        <div class="feature-info">
          <h3 class="h3 not-margin">VSCode Integration</h3>
          <p class="paragraph-22">
            Run your exercises and tutorials inside the most popular coding
            editor in the word without any extra configuration.
          </p>
        </div>
      </div>
      <div
        id="w-node-_5567c65f-1c51-22f5-9955-fe40b832492a-a6d880dd"
        class="feature-icon-left"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div class="feature-icon">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <div class="feature-info">
          <h3 class="h3 not-margin">Tutorial Modes</h3>
          <p class="paragraph-22">
            With
            <span><strong class="bold-text">incremental</strong></span> mode you
            can make step by step tutorials.<br />With
            <span><strong class="bold-text-2">isolated</strong></span> mode,
            each step is a new different challenge.
          </p>
        </div>
      </div>
      <div
        id="w-node-_5567c65f-1c51-22f5-9955-fe40b8324934-a6d880dd"
        class="feature-icon-left"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div class="feature-icon">
          <i class="fa-solid fa-list-check"></i>
        </div>
        <div class="feature-info">
          <h3 class="h3 not-margin">Grading</h3>
          <p class="paragraph-22">
            Use the most popular unit testing libraries to automatically grade
            your users on each step of the tutorial.
          </p>
        </div>
      </div>
      <div
        id="w-node-_5567c65f-1c51-22f5-9955-fe40b832493e-a6d880dd"
        class="feature-icon-left"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div class="feature-icon">
          <i class="fa-solid fa-book"></i>
        </div>
        <div class="feature-info">
          <h3 class="h3 not-margin">Quality Tutorials</h3>
          <p class="paragraph-22">
            We provide a command that allows you to audit your tutorial's
            repository and guarantee quality.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section wf-section">
  <div class="container">
    <div class="two-col-grid">
      <div
        id="w-node-a8d2b751-9c64-f5bb-a506-e8b5fe79b4d5-a6d880dd"
        class="small-container"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <h2 class="h2">
          <strong class="bold-text-3"
            >Any tutorial in any language with just one click!</strong
          >
        </h2>
        <p class="paragraph-22">
          Make your tutorial attractive and easy to use for beginner and
          advanced programmers in a single step.
        </p>
        <div class="small-feature margin-top"></div>
        <div class="small-feature"></div>
        <div class="small-feature"></div>
        
        <a
          href="https://codespaces.new/?repo=4GeeksAcademy/react-tutorial-exercises"
          target="_blank"
          class="link-block w-inline-block"
          ><img
            src="/assets/images/open-codespaces.svg"
            loading="lazy"
            alt="Open In CodeSpaces"  height="35"
            class="image-14"
        /></a>
        
        <a
          href="https://gitpod.io#https://github.com/4GeeksAcademy/react-tutorial-exercises.git"
          target="_blank"
          class="link-block w-inline-block"
          >
          <img src="/assets/images/open-gitpod.svg" alt="Open with Gitpod" height="35" />
        </a>
      </div>
      <img
        src="../assets/images/open-learnpack.gif"
        loading="lazy"
        width="628"
        id="w-node-cf2c3563-0492-6cc1-7633-ec58b413a1e8-a6d880dd"
        alt="Open learnpack one click"
        class="image-15"
      />
    </div>
  </div>
</div>
